:root {
  --background: #e9eaf2;
  --pure-white: #fff;
  --black: #141414;
  --base-opacity-16: rgba(146, 151, 183, 0.16);
  --base-opacity-24: rgba(146, 151, 183, 0.24);
  --base-1000: #212436;
  --base-700: #5b628a;
  --base-900: #282c41;
}
html[prefers-color-scheme='dark'] {
  --pure-white: #1c1e2d;
  --black: #f1f2f7;
  --base-opacity-16: rgba(146, 151, 183, 0.16);
  --base-opacity-24: rgba(146, 151, 183, 0.24);
  --base-1000: #212436;
  --base-700: #5b628a;
  --base-900: #282c41;
}
